[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {path = ".", editable = true}

[dev-packages]
pylint = "*"
pytest = "*"
astroid = "*"

[scripts]
test = "pytest citrus/tests.py"

[pipenv]
allow_prereleases = true
